.img-fluid {
    border-radius: 10px;
    cursor: pointer;
}
#section1 {
    padding: 10px;
    border-bottom: 2px solid gray;
}
#section1 h1 {
  display: inline;
  margin-left: 20px;
  font-size: 60px;
  vertical-align: bottom;
 
}
#overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0,0.5);
    display: none;
    cursor: pointer;
}

#frame {
    height: 95vh;
    width: 40%;
    position: fixed;
    top: 3vh;
    left: 31%;
    display: none;

}
.divleft {
    position: fixed;
}
#right {
    position: fixed;
}

.button-container {
    display: table;
    position: fixed;
    display: table-cell;
    width: 100%;
    height: 100vh;
    display: none;
  
}
.fa-xmark {
    font-size: 35px;
    float:right ;
    position: relative;
    top: 5%;
    right: 5%;
    color: white;
    cursor: pointer;
    
}
.right {
    position: relative;
    float: right;
    top: 40%;
    cursor: pointer;
}
.left {
    position:fixed;
    float: left;
    top: 40%;
    cursor: pointer;

 

}
#frame > img {
    position: fixed;
    top: 5vh;
    left: 37%;
    width: 28%;
    border-radius: 10px;
}


@media screen and (max-width:767px) {

    #section1 h1 {
    display: inline;
    margin-left: 20px;
    font-size: 30px;
    vertical-align: bottom;
}
#mylogo {
    width: 35px;

}
.col-6 {
    padding: 10px !important;
}
#frame > img {
    position: fixed;
    top: 20vh;
    left: 10%;
    width: 80%;
    border-radius: 10px;
    z-index: -1;
}



}
@media screen and (min-width:768px) and (max-width: 992px){

    #frame > img {
        position: fixed;
        top: 10vh;
        left: 15%;
        width: 70%;
        border-radius: 10px;
    }
}
